*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background-image: url('../assets/bg-nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* Navbar Styling */
.navbar-wrapper {
    background-color: #222;
    width: 100%;
    height: 46px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.navbar-brand {
    display: flex;
    gap: 5px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    padding: 6px;
}

.navbar-content .navbar-brand .firstname, 
.navbar-content .navbar-brand .middlename {
    color: #fff;
}  

.navbar-content .navbar-brand .lastname {
    color: yellow;
}

.navbar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 12px;
    margin-right: 10px;
}

.navbar-list li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.navbar-list li a:hover {
    background-color: #353535;
    padding: 15px;
}

/* -------------- */

/* Home Styling */
.home {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.home-wrapper {
    display: flex;
    justify-content: center;
}   

.home-card {
    background-color: #eaeaea;
    border: 2px solid #bada55;
    border-radius: 7px;
    width: 900px;
    height: 40vh;
    padding: 15px;
    text-align: justify;
}

.home-card .home-header {
    border-top: 1px solid #222;
    width: max-content;
    font-weight: bold;
    font-size: 40px;
}

.home-menu {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.home-menu .menu-home {
    text-align: center;
    background-color: red;
    border-radius: 2px;
    width: 150px;
    height: 35px;
}

.home-menu .menu-home a {
    text-decoration: none;
    color: #fff;
}
/* ------------ */